<p id="notice"><%= notice %></p>
<div class = "container" >
<h1>Chatter</h1>
<h2>A cable ready stimulus demo</h2>

<%= render 'form', post: @post %>
<div id="timeline">
<%= render partial: 'post', collection: @posts %>
</div>
</div>
